rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permissões para catálogo, banners, configurações e pedidos da loja
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
